{% extends 'main/base.html' %}

{% block title %}
UVM's ASA Student Chapter
{% endblock %}

{% block content %}
	<h1>UVM's ASA Student Chapter</h1>

<p>We are UVM's official American Statistical Association (ASA) chapter. Here are some ASA-related links:</p>
<ul>
  <li><a href="https://www.amstat.org/ASA/Membership/Student-Chapters.aspx">https://www.amstat.org/ASA/Membership/Student-Chapters.aspx</a></li>
  <li><a href="https://thisisstatistics.org/">https://thisisstatistics.org/</a></li>
  <li><a href="https://www.amstat.org/">https://www.amstat.org/</a></li>
</ul>


{% endblock %}
