{% extends 'main/base.html' %}
{% load staticfiles %}

{% block head %}
<link href= "{% static 'main/fullcalendar/fullcalendar.min.css' %}" rel='stylesheet' />
<link href= "{% static 'main/fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script src="{% static 'main/fullcalendar/lib/moment.min.js' %}"></script>
<!-- already loaded jquery in base.html -->
<!-- <script src="{% static 'main/fullcalendar/lib/jquery.min.js' %}"></script> -->
<script src="{% static 'main/fullcalendar/fullcalendar.min.js' %}" ></script>
<script src="{% static 'main/fullcalendar/gcal.min.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


{% endblock %}

{% block title %}
UVM Stats and DS Club
{% endblock %}


{% block content %}
<div class="mb-5 text-center">
	<img src="{% static 'main/images/long-large.png' %}" class="img-fluid">
</div>

<div class="text-center">
	<h1>Welcome to the Stat and DS club website!</h1>
</div>



<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

<div class="mt-5" id="calendar"></div>




<!-- popup for calendar events -->
<div id="fullCalModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modalTitle" class="modal-title"></h4>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
			</div>
			<!-- body -->
			<div class="modal-body container">
				<div class="row">
					<p class="col-1"><i class="far fa-clock"></i></p>
					<p class="col" id="modalTime"></p>
				</div>

				<div class="row" id="locationRow">
					<p class="col-1"><i class="fas fa-map-marker-alt"></i></p>
					<p class="col" id="modalLocation"></p>
				</div>
				
				<div class="row" id="descriptionRow">
					<p class="col-1"><i class="fas fa-align-left"></i></p>
					<p class="col" id="modalDescription"></p>
				</div>

			</div>

			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a class="btn btn-primary" id="eventUrl" target="_blank">Event Page</a>
			</div>
		</div>
	</div>
</div>

<script>
 

 $(document).ready(function() {

	 $('#calendar').fullCalendar({

		 header: {
			 left: 'prev,next today',
			 center: 'title',
			 right: 'month,listYear'
		 },
		 themeSystem: 'bootstrap4',
		 /* 		 displayEventTime: false, // don't show the time column in list view */

		 // THIS KEY WON'T WORK IN PRODUCTION!!!
		 // To make your own Google API key, follow the directions here:
		 // http://fullcalendar.io/docs/google_calendar/
		 googleCalendarApiKey: 'AIzaSyD9_TpK0HO5wz_Ryn1nAbGk5qOs7uVoGOU',

		 // US Holidays
		 events: 'upeu70adke9mtj66ci7p0jnihc@group.calendar.google.com',

		 eventClick:  function(event, jsEvent, view) {
			 console.log(event);

			 $('#modalTitle').html(event.title);
			 if (event.description) {
				 $('#modalDescription').html(event.description);
				 $('#descriptionRow').show();
			 } else {
				 $('#descriptionRow').hide();
			 }
			 if (event.location) {
				 $('#modalLocation').html(event.location);
				 $('#locationRow').show();
			 } else {
				 $('#locationRow').hide();
			 }


			 let dateOptions = { weekday: 'long', month: 'long', day: 'numeric' };
			 let timeOptions = { hour12: true, hour: "numeric", minute: "numeric" };

			 let startDate = new Date(event.start._i);
			 let endDate = new Date(event.end._i);

			 let startDay = startDate.toLocaleDateString('en-US', dateOptions);
			 let endDay = endDate.toLocaleDateString('en-US', dateOptions);

			 let startTime = startDate.toLocaleString('en-US', timeOptions).toLowerCase();
			 let endTime = endDate.toLocaleString('en-US', timeOptions).toLowerCase();


			 console.log(event);
			 /* 			 console.log(endDay); */
			 if (startDay === endDay) {
				 $('#modalTime').html(startDay + ' ⋅ ' + startTime + ' – ' + endTime);				 
			 } else {
				 $('#modalTime').html(startDay + ', ' + startTime + ' – ' + endDay + ', ' + endTime);
			 }

			 

			 $('#eventUrl').attr('href', event.url);
			 $('#fullCalModal').modal();
			 return false;
		 },

	 });

 });

</script>




{% endblock %}
