{% extends 'main/base.html' %}
{% load staticfiles %}

{% block head %}
<link href= "{% static 'main/fullcalendar/fullcalendar.min.css' %}" rel='stylesheet' />
<link href= "{% static 'main/fullcalendar/fullcalendar.print.min.css' %}" rel='stylesheet' media='print' />
<script src="{% static 'main/fullcalendar/lib/moment.min.js' %}"></script>
<!-- already loaded jquery in base.html -->
<!-- <script src="{% static 'main/fullcalendar/lib/jquery.min.js' %}"></script> -->
<script src="{% static 'main/fullcalendar/fullcalendar.min.js' %}" ></script>
<script src="{% static 'main/fullcalendar/gcal.min.js' %}"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">


{% endblock %}

{% block title %}
UVM Stats and DS Club
{% endblock %}


{% block content %}
<div class="mb-5 text-center">
	<img src="{% static 'main/images/long-large.png' %}" class="img-fluid">
</div>

<div class="text-center">
	<h1>Welcome to the Statistics and Data Science club website!</h1>
</div>



<p>Hello, and welcome to Statistics and Data Science Club! If you are interested in getting involved with numbers, then you've come to the right place! With biweekly meetings and planned events, we strive to introduce members to the possibilities open to them in the field of stats and data. Everyone is welcome to join, regardless of major.</p>

<p>Come join the fun at our next meeting in the <a href="https://goo.gl/maps/cVeEah2vXp72">Lord House</a> Conference room!</p>

<div class="mt-5" id="calendar"></div>




<!-- popup for calendar events -->
<div id="fullCalModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 id="modalTitle" class="modal-title"></h4>
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
			</div>
			<!-- body -->
			<div class="modal-body container">
				<div class="row">
					<p class="col-1"><i class="far fa-clock"></i></p>
					<p class="col" id="modalTime"></p>
				</div>

				<div class="row" id="locationRow">
					<p class="col-1"><i class="fas fa-map-marker-alt"></i></p>
					<p class="col" id="modalLocation"></p>
				</div>
				
				<div class="row" id="descriptionRow">
					<p class="col-1"><i class="fas fa-align-left"></i></p>
					<p class="col" id="modalDescription"></p>
				</div>

			</div>

			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<a class="btn btn-primary" id="eventUrl" target="_blank">Event Page</a>
			</div>
		</div>
	</div>
</div>

<script>
 

 $(document).ready(function() {

	 $('#calendar').fullCalendar({

		 header: {
			 left: 'prev,next today',
			 center: 'title',
			 right: 'month,listYear'
		 },
		 themeSystem: 'bootstrap4',
		 /* 		 displayEventTime: false, // don't show the time column in list view */

		 // To make your own Google API key, follow the directions here:
					  // http://fullcalendar.io/docs/google_calendar/
		 // statclub@uvm.edu api key
		 googleCalendarApiKey: 'AIzaSyBrbsv3gRkz-Oldoc1-4iVOcsHHQxZyLEI',

		 // US Holidays
		 events: {
			 googleCalendarId: 'statclub@uvm.edu'
		 },
		 

		 eventClick:  function(event, jsEvent, view) {
			 console.log(event);

			 $('#modalTitle').html(event.title);
			 if (event.description) {
				 $('#modalDescription').html(event.description);
				 $('#descriptionRow').show();
			 } else {
				 $('#descriptionRow').hide();
			 }
			 if (event.location) {
				 $('#modalLocation').html(event.location);
				 $('#locationRow').show();
			 } else {
				 $('#locationRow').hide();
			 }


			 let dateOptions = { weekday: 'long', month: 'long', day: 'numeric' };
			 let timeOptions = { hour12: true, hour: "numeric", minute: "numeric" };

			 let startDate = new Date(event.start._i);
			 let endDate = new Date(event.end._i);

			 let startDay = startDate.toLocaleDateString('en-US', dateOptions);
			 let endDay = endDate.toLocaleDateString('en-US', dateOptions);

			 let startTime = startDate.toLocaleString('en-US', timeOptions).toLowerCase();
			 let endTime = endDate.toLocaleString('en-US', timeOptions).toLowerCase();


			 console.log(event);
			 /* 			 console.log(endDay); */
			 if (startDay === endDay) {
				 $('#modalTime').html(startDay + ' ⋅ ' + startTime + ' – ' + endTime);				 
			 } else {
				 $('#modalTime').html(startDay + ', ' + startTime + ' – ' + endDay + ', ' + endTime);
			 }

			 

			 $('#eventUrl').attr('href', event.url);
			 $('#fullCalModal').modal();
			 return false;
		 },

	 });

 });

</script>




{% endblock %}
