{% extends 'main/base.html' %}

{% block title %}
	Useful Links
{% endblock %}

{% block content %}
	<h1>Useful Links</h1>
	<p>Here's some links to other pages that Statistics and Data Science majors might find useful.</p>

	<h2>National Science Foundation REUs</h2>
	<p>The <a href="https://www.nsf.gov/">National Science Foundation</a> (NSF) funds a large number of research opportunities for undergraduate students through its Research Experiences for Undergraduates (REU) Sites program. An REU Site consists of a group of ten or so undergraduates who work in the research programs of the host institution. Each student is associated with a specific research project, where he/she works closely with the faculty and other researchers. Students are granted stipends and, in many cases, assistance with housing and travel. Undergraduate students supported with NSF funds must be citizens or permanent residents of the United States or its possessions. An REU Site may be at either a US or foreign location.</p>
	<p>These are 10-week summer programs where you receive a stipend (typically $5,000) to work on research at another school. Housing and meals are typically covered as well. Applications are due between January and March, depending on the program. You can search the list of programs <a href="https://www.nsf.gov/crssprgm/reu/reu_search.jsp">here</a>.</p>

	<h2>Other Summer Programs</h2>
	<ul>
		<li><a href="https://www.nhlbi.nih.gov/node-general/summer-institute-biostatistics">https://www.nhlbi.nih.gov/node-general/summer-institute-biostatistics</a></li>
		<li><a href="http://drsherrirose.org/resources/">http://drsherrirose.org/resources/</a></li>
		<!-- <li><a href="https://www.jefferson.edu/university/jmc/departments/..." >www.jefferson.edu/university/jmc/departments/...</a></li> -->
		<!-- <li><a href="http://www.amalthea-reu.org/">http://www.amalthea-reu.org/</a></li> -->
	</ul>

	

	<h2>Job Database Links</h2>
	
	<ul>
		<li><a href="http://www.stat.uchicago.edu/students/career/jobdatabases.shtml">University of Chicago Job Databases</a></li>
	</ul>
	
	<h2>Fun things to check out</h2>
	<ul>
		<li><a href="http://www.uvm.edu/~mathclub/">UVM Math Club</a></li>
		<li><a href="https://www.causeweb.org/cause/caption-contest/2019">Monthly statistics-themed caption contest</a> by the Consortium for the Advancement of Undergraduate Statistics Education (CAUSE)</li>
		<li>UVM Career Center: what you can do with a degree in ...
			<ul>
				<li><a href="https://www.uvm.edu/~career/?Page=WCIDWAMI_statistics.html">Statistics</a></li>
				<li><a href="https://www.uvm.edu/~career/?Page=WCIDWAMI_mathematics.html">Mathematics</a></li>
			</ul>
		</li>
		<!-- <li>BU Weekly podcasts</li> -->
		<li><a href="https://simplystatistics.org/">Simply Statistics</a>: a blog about statistics</li>
		<li>American Statistical Association (ASA): <a href="http://thisisstatistics.org">This is Statistics</a></li>
		<li><a href="https://statsandstories.net/">https://statsandstories.net/</a></li>
		<li><a href="https://populationhealthexchange.org/library/podcasts/free-associations/">https://populationhealthexchange.org/library/podcasts/free-associations/</a></li>
		<li><a href="https://seeing-theory.brown.edu/">https://seeing-theory.brown.edu/</a></li>
		<li><a href="http://www.ltcconline.net/greenl/java/Statistics/catStatProb/categorizingStatProblems.html">http://www.ltcconline.net/greenl/java/Statistics/catStatProb/categorizingStatProblems.html</a></li>
		<li><a href="http://www.statslife.org.uk/images/pdf/timeline-of-statistics.pdf">http://www.statslife.org.uk/images/pdf/timeline-of-statistics.pdf</a></li>
	</ul>
	


	

{% endblock %}
