{% extends 'main/base.html' %}
{% load staticfiles %}


{% block title %}
People
{% endblock %}

{% block content %}
<h1>People</h1>
<p>The leaders of the Statistics and Data Science club</p>

<!-- Jenny -->
<h2>Jenny Eberling <small class="text-muted">| President</small></h2>
<div class="row">
	<div class="col-md">
		<img class="profile-pic" src="{% static 'main/images/jenny.jpg' %}">
	</div>
	<div class="col">
		<p>Placeholder text</p>
	</div>
</div>

<!-- Katherine -->
<h2>Katherine Merrill <small class="text-muted">| Advisor</small></h2>
<div class="row">
	<div class="col-md">
		<img class="profile-pic" src="{% static 'main/images/katherine.png' %}">
	</div>
	<div class="col">
		<p>Placeholder text</p>
	</div>
</div>

<!-- Jacob -->
<h2>Jacob Martin <small class="text-muted">| Advisor</small></h2>
<div class="row">
	<div class="col-md">
		<img class="profile-pic" src="{% static 'main/images/jacob.png' %}">
	</div>
	<div class="col">
		<p>Placeholder text</p>
	</div>
</div>
{% endblock %}
