{% extends 'main/base.html' %}
{% load staticfiles %}


{% block title %}
People
{% endblock %}

{% block content %}
<h1>People</h1>
<p>The leaders of the Statistics and Data Science club</p>

<!-- Jenny -->
<h2>Jenny Eberling <small class="text-muted">| President</small></h2>
<div class="row">
	<div class="col-md">
		<img class="profile-pic" src="{% static 'main/images/jenny.jpg' %}">
	</div>
	<div class="col">
	  <p>
		I am a third year statistics major with a mathematics minor,
		and I love learning about the different ways we use statistics
		in the UVM community. My primary interest is the statistic
		analysis of the UVM Women's Basketball team, both as a
		researcher and as their number one fan! I also regularly
		attend Stat Journal Club and Math Club meetings, so don't be
		afraid to come say hello! When I'm not working on my stat
		homework, you can find me playing the trumpet in the pep-band
		or riding my bike around campus.
	  </p>
	</div>
</div>

<!-- Katherine -->
<h2>Katherine Merrill, M.S., Senior Lecturer<small class="text-muted">| Advisor</small></h2>
<div class="row">
	<div class="col-md">
		<img class="profile-pic" src="{% static 'main/images/katherine.jpg' %}">
	</div>
	<div class="col">
	  <p>
		I attended the Ohio State University for my undergraduate
		studies in the early 1980's. At the time, there was a new
		major called Mathematical Sciences, where you studied
		Mathematics, Statistics, and Computer Science -- sound
		familiar? -- Data Science today! I was fortunate enough to
		have taken classes in Statistics with D. Ransom Whitney
		(Mann-Whitney U Test). Here are a couple of links about
		Professor Whitney:
	  <ul>
		<li><a href="https://kb.osu.edu/handle/1811/24142">https://kb.osu.edu/handle/1811/24142</a></li>
		<li><a href="https://www.sciencedirect.com/science/article/pii/B9780126045406500073">https://www.sciencedirect.com/science/article/pii/B9780126045406500073</a></li>
	  </ul>
	  <p>
		I worked at Western Electric in Software Quality Control for 8
		years after receiving my B.S. in Mathematics from OSU. I
		received my M.A. in Statistics from Boston University in 1988.
		I also have my M.S. in Mathematics. Love being in school too
		much?? Yes! Here at UVM, I teach different levels of
		introductory Statistics to many students of varying majors. I
		enjoy sharing my passion of Statistics with you!
	  </p>
	</div>
</div>

<!-- Jacob -->
<h2>Jacob Martin <small class="text-muted">| Advisor</small></h2>
<div class="row">
	<div class="col-md">
		<img class="profile-pic" src="{% static 'main/images/jacob.png' %}">
	</div>
	<div class="col">
		<p></p>
	</div>
</div>
{% endblock %}
