{% extends 'main/base.html' %}

{% block title %}
Statistical Software
{% endblock %}

{% block content %}
	<h1>Statistical Software</h1>

	<h2>Open Source Software</h2>

	<p><a href="https://www.r-project.org/">R</a> is an open-source statistical software package that is free to use. The recommended developent environment for R is <a href="https://www.rstudio.com/">RStudio</a>.</p>



	
	<h2>UVM Licensed Software</h2>
	<p>UVM has licenses for several statistical software packages. You can find links to download the software <a href="https://www.uvm.edu/software/">here</a> (you'll need to log in with your NetID). Here's links to information about the packages that UVM offers:</p>
	<ul>
		<li><a href="https://www.jmp.com/en_us/home.html">JMP</a></li>
		<li><a href="https://www.wolfram.com/mathematica/">Mathematica</a></li>
		<li><a href="https://www.mathworks.com/products/matlab.html">MATLAB</a></li>
		<li><a href="https://www.ibm.com/analytics/spss-statistics-software">SPSS</a></li>
		<li><a href="https://www.stata.com/">Stata</a></li>
		<li><a href="https://www.graphpad.com/scientific-software/prism/">GraphPad Prism</a></li>	
	</ul>


{% endblock %}
