h1 {
	font-size: 2rem;
}



h2 {
	font-size: 1.5rem;
	margin-top: 20px;
}

h2:after {
	content:'';
	display:block;
	border-bottom: 1.5px solid gray;
	padding-bottom: 5px; /* space before line */
	margin-bottom: 15px; /* space after line */
}

h3 {
	font-size: 1.25rem;
}

h4, h5 {
	font-size: 1rem;
}


#main-content {
	padding-top: 100px;
	padding-bottom: 150px;
}


html {
	position: relative;
	min-height: 100vh;
}


footer {
	/* display: inline-flex; */
	color: gray;
	position: absolute;
	bottom:0;
	/* background-color: #007bff; */
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}

footer p {
	width: 100%;
}

.profile-pic {
	width: 300px;
}

header {
	background: #a8d096;
}





.fc-today.alert {
	background-color:#c7e4f4;
}

.fc-event {
	background-color: #66ac47 !important;
	border: 1px solid #66ac47 !important;
}

.fc-event-dot {
	background-color: #66ac47 !important;
}
.btn-primary {
	color: #fff;
	background-color: #66ac47;
	border-color: #66ac47;
}

.btn-primary:focus, .btn-primary.focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
}

.btn-primary:hover {
	color: #fff;
	background-color: #007155;
	border-color: #004c39;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show>.btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #007155;
	border-color: #004c39;

}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show>.btn-primary.dropdown-toggle:focus {
	-webkit-box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
	box-shadow: 0 0 0 0.2rem rgba(102, 172, 71, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
	color: #fff;
	background-color: #66ac47;
	border-color: #66ac47;
}
